*{
background-color: #444;
color: white;
font-family: 'Bebas Neue', cursive;
padding: 0;
margin: 0;
box-sizing: border-box;
}


img{
    width: 200px;
    height: 150px;
    
}
.div-titulo h1{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

}

.btn-agregar{
    padding: 1em 3em;
    color: rgb(110,237,237);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 0.5em rgb(110,237,237);
    border: 0.25em solid rgb(110,237,237);
    border-radius: 1em;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
}

.cart-icon{
    position: relative;
    left: 1100px;
    top: 12px;
  
}

.cart-icon:hover{
    background-color: yellowgreen;
    color: chartreuse;
    border: solid 1px green;
    border-radius: 25px;
    transition-duration: 3s;
}

.btn-agregar iconify-icon{
    position: relative;
    left: 10px;
    color:green;
    text-shadow: 0 0 0.5em green;
}
.modal-contenido{
    display: none;
}

.contenedor-div{
    display: flex;
    flex-wrap: wrap;
    
    
}
.div-elementos{
    width: 300px;
    text-align: center;
    margin: 10px;
    padding: 15px;
}








